<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LK_Teacher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LK_Teacher.Properties.Settings>
            <setting name="CacheEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>lk_teachers</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://lk-teacher.loc</value>
            </setting>
            <setting name="ImagesUrl" serializeAs="String">
                <value>http://lk-teacher.loc/images</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://lk-teacher.loc/api</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>3306</value>
            </setting>
        </LK_Teacher.Properties.Settings>
    </userSettings>
</configuration>